.typography-heading{
color:#232326;
}


.typography-text{
    background-color: #F0F0F2;
    color: #232326;
    text-align: left;
}

.accordion{
    background-color: #F0F0F2;
    
}

#panel-header{
    background-color: #F0F0F2;
}