.typography-heading{
color:#3d95dd;
}


.typography-text{
    background-color: #13111b;
    color: azure;
    text-align: left;
}

.accordion{
    background-color: #13111b;
    
}

#panel-header{
    background-color: #13111b;
}