.main-container{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5vw 12.5vw;
    
}



.name{
    color: azure;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.apresentation{
    color: azure;
    overflow: hidden;
    letter-spacing: 2px;
    width: 40vw;
    margin-left: 30%;
    text-align: left;
}

.skills{
    color: azure;
    font-family:Georgia, 'Times New Roman', Times, serif;

}



.phrase{
    font-style: italic;
    color: azure;
    overflow: hidden;
    letter-spacing: 2px;
    text-align:left;
}


@media only screen and (max-width: 1080px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .apresentation{
        color: azure;
        overflow: hidden;
        letter-spacing: 2px;
        width: 80vw;
        margin-left: 7.5%;
        text-align: left;
    }
    

  }