<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Hideki</title>
</head>
<body>
    <h1>
        SEJA UM MINISTRO DO SUPREMO AGORA MESMO
    </h1>
    <p>
        clique aqui e ganhe um stf!
        <br>
        <a href="https://www.xvideos.com">
            <img src="../static/assets/stf.png" alt="img">
        </a>
    </p>
</body>
</html>